/*preloader*/
.preloader{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #e2c28b;
    opacity: 1;
    transition: all 1.25s ease;
}
.preloader.hide{
    opacity: 0;
    transition: all 1.25s ease;
}
.preloader_svg{
    max-width: 85px;
}




.front_carusel{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    transition: all .25s ease;
}
.front_carusel.carousel_activated{
    opacity: 1;
    transition: all .25s ease;
}
.front_carusel.carousel_deactivated{
    opacity: 0;
    transition: all .25s ease;
}

.small_img_container img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.carusel_control_button{
    cursor: pointer;
    width: 31px;
    height: 31px;
    display: inline-block;
    background-color: black;
    border-radius: 100%;
    transition: all .5s ease;
}
.carusel_control_button:hover{
    background-color: #e2c28b;
    transition: all .5s ease;
}
.carusel_control_button:hover i{
    color: black;
    transition: all .5s ease;
}
.carusel_control_button i{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    transition: all .5s ease;
}
.first_section{
    width: 100%;
    height: 100vh;
}
.bottom-0{
    bottom: 0;
}
.front_big_text{

}
.small_img_bg{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    backdrop-filter: blur(9px);
}

.active.small_img_bg {
    background: #0000009c;
}

.active.small_img_bg .text {
    opacity: 0;
    display: none;
}
.menuecontent{
    height: 100px;
}
.menue_section_logo img{
    max-width: 100px;
}
.menue{
    z-index: 3;
    position: fixed !important;
    top: 0;
    background: linear-gradient(180deg, #575757, transparent);
}
.menue_item a{
    text-transform: capitalize;
    text-decoration: auto;
    color: white;
    font-size: 26px;
    opacity: 0.8;
    transition: all .25s ease;
}

.border_bottom_active_link{
    transition: all .5s ease;
    border-bottom: solid;
    width: 0%;
}

.menue_item a:hover ~ .border_bottom_active_link{
    transition: all .5s ease;
    border-bottom: solid #e2c28b;
    width: 100%;
}

.menue_item a:hover {
    transition: all .25s ease;
    opacity: 1;
}


.menue_section_logo{
    margin: 0 50px;
}
.gradient_transition_bottom{
    margin-top: calc(100vh - 100px);
    z-index: -1;
    position: absolute;
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
}
.section_second {
    margin-top: -300px;
}
.section_second_content{
    background: black;
    border-radius: 15px;
}
.slogn{
    font-size: 24px;
}
.second_slide_img{
    animation: upDown .25s infinite;
}
@keyframes upDown {
    0%{

    }
    
}

.section_forth .content{
    background: white;
}

.section_forth .content .item{
    max-height: 270px;
}

.slide_transition_gradient{
    margin-top: 0px;
    height: 60px;
    background: linear-gradient(0deg, #e2c28b, #ff000000);
    width: 100%;
}
.slide_transition_gradient_back{
    margin-top: -1px;
    height: 60px;
    width: 100%;
    background: linear-gradient(180deg, #e2c28b, #ff000000);
}

.services_item_container .card{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    background-color: transparent;
    height: 100%;
}
.section_sixth_footer{
    background-color: white;
}


.container_eight{
    height: 100%;
}
.bg_w_gradient{
    position: absolute;
    height: 100%;
    width: 100%;
}

.bg_contact_us_image{
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.bg_gradient_overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e2c28b, transparent);
    position: relative;
    z-index: 1;
}

.contact_info{

}

.contact_form input{
    padding: 10px;
}
.contact_form textarea{
    padding: 10px;
}
.input_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.card-header{
    border: 0;
    background-color: transparent;
}
.card-footer{
    border: 0;
    background-color: transparent;
}









.footer{
    background: #101010;
}

.footer .section1 .input-group{
    width: 85%;
    height: 50px;
}
.footel_links{
    display: flex;
}

.footer .section2 img{
    width: 170px;
}

.footer .section2{
    color: white;
}

.login_form_footer{
    background: transparent !important;
}

.footer .sections{
    padding: 25px;
    padding-bottom: 0;
}
.footer button{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    background: linear-gradient(45deg, #1fa2ff, #12d8fa, #a6ffcb) !important;
    border: 0 !important;
}
.footer .devider{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255 255 255) 50%, rgba(255, 255, 255, 0) 100%);
    height: 1px;
}

.transperent_line_footer {
    transition: all 0.9s ease;
    opacity: 1;
    width: 500px;
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(197, 197, 197, 0.98) 50%, rgba(197, 197, 197, 1) 51%, rgba(225, 228, 226, 0) 99%, rgba(229, 229, 229, 0) 100%);
}

.transparent_bg_menue_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 169px;
    background: linear-gradient(0deg, #000000ad, transparent);
    z-index: 1;
}

.menue_footer{
    z-index: 2;
    bottom: 20px;
    position: absolute;
    font-size: 33px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}


.links_first_section{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}
.links_first_section h3{
    color: white;
    font-weight: 600;
}
.links_first_section a{
    text-decoration: none;
    color: white;
    justify-content: center;
}
.links_second_section{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}
.links_second_section h3{
    color: white;
    font-weight: 600;
}
.links_second_section a{
    text-decoration: none;
    color: white;
    justify-content: center;
}
.text_about{
    font-size: 18px;
    padding: 20px;
    border: 1px solid;
    border-radius: 17px;
    line-height: 32px;
    letter-spacing: 2px;
}




/*services*/

.services_head{
    height: 350px;
    object-fit: cover;
}
.services_head img{
    object-fit: cover;
}
.services_head h1{
    height: 100%;
    top: -100%;
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}
