.front_carusel{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.small_img_container img{
    width: 95px;
    height: 95px;
    object-fit: cover;
}

.carusel_control_button{
    cursor: pointer;
    width: 31px;
    height: 31px;
    display: inline-block;
    background-color: black;
    border-radius: 100%;
}
.carusel_control_button i{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
}
.first_section{
    width: 100%;
    height: 100vh;
}
.bottom-0{
    bottom: 0;
}
.front_big_text{
    
}