@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
}

body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}
.menue  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: white;
    cursor: pointer;
}

.text{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.width300{
    font-weight: 300 !important;
}

.width400{
    font-weight: 400 !important;
}

.width500{
    font-weight: 500 !important;
}

.width600{
    font-weight: 600 !important;
}

.width700{
    font-weight: 700 !important;
}

.width800{
    font-weight: 800 !important;
}
.f-size-23{
    font-size: 23px;
}

.justify-content-space{
    justify-content: space-between;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.f-size-18{
    font-size: 18px;
}
.f-size-80{
    font-size: 80px;
}
.lh38{
    line-height: 38px;
}
.front_text{
    height: calc(100% - 250px);
    display: flex;
    align-items: center;
}
.color-w{
    color:white;
}
.color-b{
    color:black;
}
.color-gray{
    color:#727272;
}
.bg-w{
    background-color:white;
}
.tansition-25ms-ease{
    transition: all .25s ease;
}
.aign-items-center{
    align-items: center;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}

.bg-color_gold{
    background-color: #e2c28b !important;
}
.color-gold{
    color: #e2c28b !important;
}
.z-1{
    z-index: 1;
}
.second_slide_img{
    max-height: 330px;
    object-fit: cover;
    border-radius: 15px;
}
.ml-50{
    margin-left: 50px;
}
.mr-50{
    margin-left: -50px;
}
.flex-row-reversed{
    flex-direction: row-reverse;
}
.h-50{
    height: 50%;
}
.br1opacity021{
    border-right: 1px #00000021 solid;
}
.br-5pxB-1px{
    border: 1px solid #0000003b;
    border-radius: 5px;
}
.br-10px{
    border-radius: 10px;
}

label{
    color: gray;
}

.btn-outline-gold {
    --bs-btn-color: white !important;
    --bs-btn-border-color: white !important;
    --bs-btn-hover-color: #e2c28b !important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-border-color: white !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253 !important;
    
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd00;
    --bs-btn-active-border-color: #ffffff;

    --bs-btn-disabled-color: #0d6efd !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #0d6efd !important;
    --bs-gradient: none !important;
}
.btn-outline-primary {
    --bs-btn-color: #e2c28b;
    --bs-btn-border-color: #e2c28b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e2c28b;
    --bs-btn-hover-border-color: #e2c28b;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd00;
    --bs-btn-active-border-color: #e2c28b;
}
.h-40px{
    height: 40px;
}
.min_height_80vh{
    min-height: 80vh;
}
.pl-3{
    padding-left: 1rem !important;
}